.react-trello-card > header {
    display: block;
    white-space: pre-wrap;
}

.react-trello-card > header > span[draggable] {
    display: block;
}

article.react-trello-card {
    text-align: left;
}
.MyBoardDescription ul {
    padding: 0;
}

.react-trello-card > header > span {
    width: 100%;
}

.MyBoardIcon {
    padding-right: 4px;
}

.IssueOpenedIcon {
    color: green;
}

.IssueClosedIcon {
    color: red;
}

.GitPullRequestIcon {
    color: green;
}
